<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Templates/plantilla.html::header">
    <meta charset="UTF-8">

    <title th:text="${titulo}">Title</title>
    <nav th:replace="Templates/plantilla.html::navbar"></nav>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/home.css" th:href="@{css/home.css}" />

</head>
<body>
<div class="container">
    <br>
    <h1>Opciones Para Actividades Culturales</h1>
    <hr>
    <br>
    <form enctype="multipart/form-data"  method="post" th:attr="action=${accion}" >
        <div class="card">
            <div  class="card-header">
                Consultar
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="mb-2 col-md-6">
                        <label for="actividad" class="col-sm-3 col-form-label">Actividad Cultural:</label>
                        <div class="col-sm-12">
                            <select class="form-select" placeholder="Actividad Cultural" aria-label="Default select example" id="actividad" name="actividadcultural" required>
                                <option value="concierto">Concierto</option>
                                <option value="teatro">Teatro</option>
                                <option value="museo">Museo</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-2 col-md-6">
                        <label for="precio" class="col-sm-2 col-form-label">Precio:</label>
                        <div class="col-sm-12">
                            <select class="form-select"  aria-label="Default select example" id="precio" name="precio" placeholder="Precio" required >
                                <option value="economico">Econ&oacute;mico</option>
                                <option value="medio">Medio</option>
                                <option value="elevado">Elevado</option>
                            </select>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div align="end">
                    <button type="submit" class="btn btn-primary">Ejecutar</button>
                </div>
            </div>

        </div>
    </form>
</div>
</body>
</html>