<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Templates/plantilla.html::header">
  <meta charset="UTF-8">

  <title th:text="${titulo}">Title</title>
  <nav th:replace="Templates/plantilla.html::navbar"></nav>
  <link rel="stylesheet" type="text/css" media="all"
        href="css/home.css" th:href="@{css/home.css}" />

</head>
<body>
<div class="container">
  <br>
  <h1 th:text="${'Opciones Para '+ local}">Opciones Para Discoteca</h1>
  <hr>
  <br>
  <form enctype="multipart/form-data"  method="post" th:attr="action=${accion}" >
    <div class="card">
      <div  class="card-header">
        Consultar
      </div>
      <div class="card-body">

        <div class="row">
          <div class="mb-2 col-md-6">
            <label for="puntuacion" class="col-sm-2 col-form-label">Puntuacion:</label>
            <div class="col-sm-12">
              <select class="form-select" placeholder="puntuacion" aria-label="Default select example" id="puntuacion" name="puntuacion" required>
                <option value="1">Baja</option>
                <option value="2">Media</option>
                <option value="3">Alta</option>
                <option value="4">Excelente</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div align="end">
          <button type="submit" class="btn btn-primary">Ejecutar</button>
        </div>
      </div>

    </div>
  </form>
</div>
</body>
</html>